.about{
  background-color: rgba(201,200,217,0.4);
  width: 60%;
  height: 100vh;
  position: fixed;
  .logo-container{
    margin: 10% auto 0 3%;
  }
  .about-container {
    display: flex;
    height: 50px;
    background: $dark;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    margin-left: 10%;
    .about-options {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      color: $grey;
      font-family: $bold-type;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
