//===COLORS===\\
$white: #dce3f2;
$grey: #c9c8d9;
$light-purple: #ae93b5;
$dark-purple: #7d5686;
$dark: #3c3a4e;
$green: #859f7b;
$screen: rgba(201, 200, 217, 0.4);

//===FONTS===\\
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway:400,600');
$cursive-type: 'Great Vibes', cursive;
$bold-type: 'Raleway', sans-serif;
$light-type: 'Raleway', sans-serif;
