//===COLORS===\\
$white: #dce3f2;
$light-grey: #c9c8d9;
$light-purple: #ae93b5;
$dark-purple: #7d5686;
$dark: #3c3a4e;
$green: #859f7b;

//===FONTS===\\
@import url('https://fonts.googleapis.com/css?family=Anton|Great+Vibes|Raleway:300');
$cursive-type: 'Great Vibes', cursive;
$bold-type: 'Anton', sans-serif;
$light-type: 'Raleway', sans-serif;
